body {
    /* uigradients.com */
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: super;
    letter-spacing: 2px;
    color: white;
    font-size: 1.5rem;
}

h4{
    font-weight: bolder;
}

#activity{
    color: #FFD700;
}

h1 {
    animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}

@font-face {
    src:url("/SuperFunky-lgmWw.ttf");
    font-family: super;
}
